<h1>Cart</h1>
<p>Find me in app/views/products/index.html.erb</p>

<ul>
    <% cart.each do |item| %>
    <li> <%= item %> </li>
    <% end %>
</ul>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <input name=product>
  <input type=submit value="add to cart">
<% end %>
